@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <h1>This is some big feature</h1>
        <h1>This is some another big feature</h1>
        <h1>This is some third big feature</h1>
        <h1>This is some fourth big feature</h1>
    </div>
